<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>About Blogify</h5>
        <p>Blogify is a platform where you can share your thoughts, stories, and ideas with the world. Join our community today!</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/add-new">Add Blog</a></li>
          <li><a href="/user/signup">Create Account</a></li>
          <li><a href="/user/signin">Signin</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Contact Us</h5>
        <p>Email: contact@blogify.com</p>
        <p>Phone: +91 9119669511</p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © <%= new Date().getFullYear() %> Blogify, <span style="color: red;">Sabir ali</span>. All rights reserved.
</div>

</footer>
